@import url('slide1.jpeg');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 
body{
    font-family:"Montserrat",sans-serif;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://media.istockphoto.com/id/820779730/photo/grey-and-orange-hexagons-modern-background-illustration.webp?b=1&s=170667a&w=0&k=20&c=PTVSv2S9ec1u86lrlWkmFfWZ3kI6s2cu1sVFLpREq6M=);
    background-size:cover;
    background-position:center;
}
.box {
    border-radius:20px;
    width:300px;
    padding:30px;
    /* /border:2px solid orangered;/ */
    background-color:rgba(0,0,0,0.4);
    box-shadow:1px 1px 2px #ffc400ef;
    display:flex;
    flex-direction:column;
}

.box h1{
    color:#fff;
    text-transform:uppercase;
    font-weight:700;
    align-self:center;
}

.username,.password{
    position:relative;
}

.fa-envelope,.fa-lock-open{
    position:absolute;
    left:25px;
    top:40px;
    color:rgb(256,256,256);
}

.box input[type="text"],
.box input[type="password"]{
    font-size:20px;
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:3px solid #0367fd;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:#fff;
    border-radius:24px;
    transition:all .2s ease-in;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus{
    width:250px;
    border-color:#ffc400ec;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}

.wrapper{
    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
}

#btn{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:3px solid #ffc400ec;
    padding:14px 35px;
    font-size:18px;
    color:rgb(256,256,256);
    border-radius:20px;
    transition:all .2s ease-in-out;
    cursor:pointer;
}

#btn:hover{
    background-color:#ffc400ca;
}
